.main-header {
    .header-top .left-box{
        padding: 0;
    }
    
    .main-menu .navigation > li > ul > li.dropdown > a:after {
        position: initial;
    }

    .main-menu .navigation > li > ul > li > a {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header-options_box:before {
        display: none;
    }

    @media only screen and (max-width: 767px) {
        .left-box {
            width: 150px;
        }

        .outer-box {
            gap: 15px;

            .header_button-box {
                display: flex;
                height: 100%;

                .btn-style-one {
                    padding: 10px;
                }
            }
        }

        .header-options_box {
            display: block !important;

            .search-box-btn {
                width: 32px;
                height: 32px;
                line-height: 32px;
            }
        }
    }
}

.page-title {
    padding: 50px 0px 50px;
}