.main-header .header-top .left-box {
  padding: 0;
}
.main-header .main-menu .navigation > li > ul > li.dropdown > a:after {
  position: initial;
}
.main-header .main-menu .navigation > li > ul > li > a {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main-header .header-options_box:before {
  display: none;
}
@media only screen and (max-width: 767px) {
  .main-header .left-box {
    width: 150px;
  }
  .main-header .outer-box {
    gap: 15px;
  }
  .main-header .outer-box .header_button-box {
    display: flex;
    height: 100%;
  }
  .main-header .outer-box .header_button-box .btn-style-one {
    padding: 10px;
  }
  .main-header .header-options_box {
    display: block !important;
  }
  .main-header .header-options_box .search-box-btn {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.page-title {
  padding: 50px 0px 50px;
}
