@page "/auth/login"
@using MudThemeLibrary.Handlers

<PageTitle>LoginPage</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">
    <div class="mb-10 mt-10">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Đăng nhập</MudText>
        <MudText Align="Align.Center">Đăng nhập đi, rồi tao cho vào chơi.</MudText>
    </div>
    <MudPaper>
        <EditForm Model="@_userLogin" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard Elevation="0">
                <MudCardContent>
                    <MudTextField Class="mb-3" @bind-Value="_userLogin.Email" For="@(() => _userLogin.Email)" Label="Email" />
                    <MudTextField Class="mb-3" @bind-Value="_userLogin.Password" For="@(() => _userLogin.Password)" Label="Password" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Disabled="_processing" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1 mr-2" Size="Size.Small" Indeterminate="true" />
                        }
                        <MudText>Đăng nhập</MudText>
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudPaper>
    <div class="my-3">
        <MudText Align="Align.Center">
            Bạn chưa có tài khoản? <MudLink href="/auth/register">Đăng ký</MudLink>
        </MudText>
    </div>
</MudContainer>