$viewport-sizes: (10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 80, 85, 90, 95, 100, auto);
$breakpoints: ( xs: 0px, sm: 600px, md: 960px, lg: 1280px, xl: 1920px, xxl: 2560px );
@each $size in $viewport-sizes {
    .w-#{$size} {
        width: #{$size + if($size == auto, "", "%")} !important;
    }

    .mw-#{$size} {
        max-width: #{$size + if($size == auto, "", "%")} !important;
    }

    .h-#{$size} {
        height: #{$size + if($size == auto, "", "%")} !important;
    }

    .mh-#{$size} {
        max-height: #{$size + if($size == auto, "", "%")} !important;
    }

    .min-vh-#{$size} {
        min-height: #{$size + if($size == auto, "", "vh")} !important;
    }

    .min-h-#{$size} {
        min-height: #{$size + if($size == auto, "", "%")} !important;
    }
}
@each $breakpoint, $min-width in $breakpoints {
    @media (min-width: #{$min-width}) {
        @each $size in $viewport-sizes {
            .w-#{$breakpoint}-#{$size} {
                width: #{$size + if($size == auto, "", "%")} !important;
            }
        }
    }
}

$alignments: (left, center, right, justify, start, end);
@each $align in $alignments {
    .text-#{$align} {
        text-align: $align;
    }
}

$white-spaces: (normal, nowrap, pre, pre-line, pre-wrap);
@each $ws in $white-spaces {
    .white-space-#{$ws} {
        white-space: $ws;
    }
}

$rotations: (0, 45, 90, 180, 360);
$flips: ( "horizontal": scaleX(-1), "vertical": scaleY(-1), "both": scale(-1, -1) );
@each $angle in $rotations {
    .transform-rotate-#{$angle} {
        transform: rotate(#{$angle}deg);
    }
}
@each $name, $value in $flips {
    .flip-#{$name} {
        transform: $value;
    }

    @each $angle in $rotations {
        .flip-#{$name}-rotate-#{$angle} {
            transform: $value rotate(#{$angle}deg);
        }
    }
}

$ulListStyles: (disc, circle, square, decimal, lower-roman, upper-roman, lower-alpha, upper-alpha, none);
@each $style in $ulListStyles {
    ul.list-#{$style} {
        list-style-position: inside;
        list-style-type: $style;

        &.marker-bold {
            li::marker {
                font-weight: bold;
            }
        }
    }
}

.bg-none {
    background: none !important;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
