@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Slider One -->
<section class="slider-one">
	<div class="slider-one_phone"><a href="tel:+088-142-5051"><i class="flaticon-call"></i>(088) 142-5051</a></div>
	<div class="main-slider swiper-container">
		<div class="swiper-wrapper">

			<!-- Slide -->
			<div class="swiper-slide" style="background-image:url(/assets/images/main-slider/1.jpg)">
				<div class="auto-container">
					<div class="row clearfix">

						<!-- Content Column -->
						<div class="slider-one_content col-xl-9 col-lg-7 col-md-12 col-sm-12">
							<div class="slider-one_content-inner">
								<div class="slider-one_title test">Decorate Your Room</div>
								<h1 class="slider-one_heading">Quality Home Flooring & Painting Solution </h1>
								<div class="slider-one_button">
									<a href="services.html" class="theme-btn btn-style-two">
										<span class="btn-wrap">
											<span class="text-one">View Our Service</span>
											<span class="text-two">View Our Service</span>
										</span>
									</a>
								</div>

							</div>
						</div>

						<!-- Image Column -->
						<div class="slider-one_image-column col-xl-3 col-lg-5 col-md-12 col-sm-12">
							<div class="slider-one_image">
								<div class="title-one">No1 Flooring Tiles</div>
								<div class="title-two">Marble Floor Tiles</div>
								<img src="~/assets/images/main-slider/image-1.png" alt="" />
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="swiper-slide" style="background-image:url(/assets/images/main-slider/5.jpg)">
				<div class="auto-container">
					<div class="row clearfix">

						<!-- Content Column -->
						<div class="slider-one_content col-xl-9 col-lg-7 col-md-12 col-sm-12">
							<div class="slider-one_content-inner">
								<div class="slider-one_title">Decorate Your Room</div>
								<h1 class="slider-one_heading">Quality Home Flooring & Painting Solution </h1>
								<div class="slider-one_button">
									<a href="services.html" class="theme-btn btn-style-two">
										<span class="btn-wrap">
											<span class="text-one">View Our Service</span>
											<span class="text-two">View Our Service</span>
										</span>
									</a>
								</div>

							</div>
						</div>

						<!-- Image Column -->
						<div class="slider-one_image-column col-xl-3 col-lg-5 col-md-12 col-sm-12">
							<div class="slider-one_image">
								<div class="title-one">No1 Flooring Tiles</div>
								<div class="title-two">Marble Floor Tiles</div>
								<img src="~/assets/images/main-slider/image-1.png" alt="" />
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="swiper-slide" style="background-image:url(/assets/images/main-slider/6.jpg)">
				<div class="auto-container">
					<div class="row clearfix">

						<!-- Content Column -->
						<div class="slider-one_content col-xl-9 col-lg-7 col-md-12 col-sm-12">
							<div class="slider-one_content-inner">
								<div class="slider-one_title">Decorate Your Room</div>
								<h1 class="slider-one_heading">Quality Home Flooring & Painting Solution </h1>
								<div class="slider-one_button">
									<a href="services.html" class="theme-btn btn-style-two">
										<span class="btn-wrap">
											<span class="text-one">View Our Service</span>
											<span class="text-two">View Our Service</span>
										</span>
									</a>
								</div>

							</div>
						</div>

						<!-- Image Column -->
						<div class="slider-one_image-column col-xl-3 col-lg-5 col-md-12 col-sm-12">
							<div class="slider-one_image">
								<div class="title-one">No1 Flooring Tiles</div>
								<div class="title-two">Marble Floor Tiles</div>
								<img src="~/assets/images/main-slider/image-1.png" alt="" />
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<!-- If we need navigation buttons -->
		<div class="slider-one_arrows">
			<div class="main-slider-prev"><i class="flaticon-left-arrow"></i></div>
			<div class="main-slider-next"><i class="flaticon-next-1"></i></div>
		</div>

		<!-- If we need pagination -->
		<div class="slider-one_pagination"></div>

	</div>
</section>
<!-- End Main Slider Section -->
<!-- About One -->
<section class="about-one">
	<div class="about-one_ball" style="background-image:url(/assets/images/icons/ball.png)"></div>
	<div class="about-one_lamp" style="background-image:url(/assets/images/icons/lamp.png)"></div>
	<div class="auto-container">

		<div class="row clearfix">
			<!-- Image Column -->
			<div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_image-outer">
					<div class="about-one_image">
						<img src="~/assets/images/resource/about.png" alt="" />
					</div>
					<div class="about-one_experiance">
						<div class="about-one_circle" style="background-image:url(/assets/images/icons/experiance.png)"></div>
						<span>15</span>
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_content-outer">
					<div class="sec-title">
						<div class="sec-title_title"><i class="flaticon-wood-1"></i> About us</div>
						<h2 class="sec-title_heading">Best Flooring & Painting Agency</h2>
						<div class="sec-title_text">This esteemed level of status is only possible by the consistent implementation of the highest possible standards of service </div>
					</div>
					<div class="row clearfix">
						<!-- About One Feature -->
						<div class="about-one_feature col-lg-6 col-md-6 col-sm-12">
							<div class="about-one_feature-inner">
								<div class="about-one_feature-icon flaticon-paving"></div>
								Quality Flooring Services
							</div>
						</div>
						<!-- About One Feature -->
						<div class="about-one_feature col-lg-6 col-md-6 col-sm-12">
							<div class="about-one_feature-inner">
								<div class="about-one_feature-icon flaticon-tile"></div>
								No1 Flooring <br> Services
							</div>
						</div>
					</div>
					<div class="about-one_text">We are a small Kent based company with over 15 years experience and have built a great reputation from our previous customers.</div>
					<div class="row clearfix">
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="about-one_list">
								<li><i class="flaticon-checked-1"></i>Helpful staff</li>
								<li><i class="flaticon-checked-1"></i>Community involvement</li>
							</ul>
						</div>
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="about-one_list">
								<li><i class="flaticon-checked-1"></i>Family-owned & operated</li>
								<li><i class="flaticon-checked-1"></i>Excellent relationships </li>
							</ul>
						</div>
					</div>
					<!-- About Button -->
					<div class="about-one_button">
						<a href="about.html" class="theme-btn btn-style-one">
							<span class="btn-wrap">
								<span class="text-one">More About us</span>
								<span class="text-two">More About us</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About One -->
<!-- Services One -->
<section class="services-one">
	<div class="services-one_bg" style="background-image:url(/assets/images/icons/ball.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-6">
				<div class="service-block_one-inner" style="background-image:url(/assets/images/background/pattern-1.png)">
					<div class="service-block_one-upper">
						<div class="service-block_one-icon flaticon-paint-roll"></div>
						<h4 class="service-block_one-heading"><a href="service-detail.html">Paint And Flooring</a></h4>
					</div>
					<div class="service-block_one-text">Whether you’re looking for new carpet in your family home, commercial building or investment property</div>
				</div>
			</div>

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-6">
				<div class="service-block_one-inner" style="background-image:url(/assets/images/background/pattern-1.png)">
					<div class="service-block_one-upper">
						<div class="service-block_one-icon flaticon-tiles"></div>
						<h4 class="service-block_one-heading"><a href="service-detail.html">On Time & On Budget…</a></h4>
					</div>
					<div class="service-block_one-text">Whether you’re looking for new carpet in your family home, commercial building or investment property</div>
				</div>
			</div>

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-6">
				<div class="service-block_one-inner" style="background-image:url(/assets/images/background/pattern-1.png)">
					<div class="service-block_one-upper">
						<div class="service-block_one-icon flaticon-punctuality"></div>
						<h4 class="service-block_one-heading"><a href="service-detail.html">Free <br> Estimate</a></h4>
					</div>
					<div class="service-block_one-text">Whether you’re looking for new carpet in your family home, commercial building or investment property</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Services One -->
<!-- Cta One -->
<section class="cta-one">
	<div class="cta-one_bg" style="background-image:url(/assets/images/background/1.jpg)"></div>
	<div class="cta-one_ball" style="background-image:url(/assets/images/icons/ball-1.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- CTA One Image -->
			<div class="cta-one_images-column col-lg-4 col-md-4 col-sm-12">
				<div class="cta-one_images-outer">
					<div class="cta-one_image">
						<img src="~/assets/images/resource/cta-1.jpg" alt="" />
					</div>
					<div class="cta-one_image-two">
						<img src="~/assets/images/resource/cta-2.jpg" alt="" />
					</div>
				</div>
			</div>

			<!-- CTA One Content -->
			<div class="cta-one_content-column col-lg-8 col-md-8 col-sm-12">
				<div class="cta-one_content-outer">
					<h2 class="cta-one_title">Best Internal Painting & Flooring Solution</h2>
					<div class="cta-one_button">
						<a href="contact.html" class="theme-btn btn-style-three">
							<span class="btn-wrap">
								<span class="text-one">Get In Touch</span>
								<span class="text-two">Get In Touch</span>
							</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Cta One -->
<!-- Services Two -->
<section class="services-two">
	<div class="services-two_bg" style="background-image:url(/assets/images/background/2.jpg)"></div>
	<div class="services-two_line-one" style="background-image:url(/assets/images/background/pattern-2.png)"></div>
	<div class="services-two_line-two" style="background-image:url(/assets/images/background/pattern-3.png)"></div>
	<div class="auto-container">
		<div class="sec-title light centered">
			<div class="sec-title_title"><i class="flaticon-wood-1"></i> Services</div>
			<h2 class="sec-title_heading">Best Interior Services <br> That We Provide</h2>
		</div>
		<div class="row clearfix">

			<!-- Service Block Two -->
			<div class="service-block_two col-xl-3 col-lg-6 col-md-6 col-sm-6">
				<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="service-block_two-image">
						<a href="service-detail.html"><img src="~/assets/images/resource/service-1.jpg" alt="" /></a>
					</div>
					<div class="service-block_two-content">
						<div class="service-block_two-number">1</div>
						<h4 class="service-block_two-title"><a href="service-detail.html">Tiling & Concrete</a></h4>
						<a class="service-block_two-arrow" href="service-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					</div>
				</div>
			</div>

			<!-- Service Block Two -->
			<div class="service-block_two col-xl-3 col-lg-6 col-md-6 col-sm-6">
				<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
					<div class="service-block_two-image">
						<a href="service-detail.html"><img src="~/assets/images/resource/service-2.jpg" alt="" /></a>
					</div>
					<div class="service-block_two-content">
						<div class="service-block_two-number">2</div>
						<h4 class="service-block_two-title"><a href="service-detail.html">Wall Painting</a></h4>
						<a class="service-block_two-arrow" href="service-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					</div>
				</div>
			</div>

			<!-- Service Block Two -->
			<div class="service-block_two col-xl-3 col-lg-6 col-md-6 col-sm-6">
				<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="service-block_two-image">
						<a href="service-detail.html"><img src="~/assets/images/resource/service-3.jpg" alt="" /></a>
					</div>
					<div class="service-block_two-content">
						<div class="service-block_two-number">3</div>
						<h4 class="service-block_two-title"><a href="service-detail.html">Industrial Flooring</a></h4>
						<a class="service-block_two-arrow" href="service-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					</div>
				</div>
			</div>

			<!-- Service Block Two -->
			<div class="service-block_two col-xl-3 col-lg-6 col-md-6 col-sm-6">
				<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
					<div class="service-block_two-image">
						<a href="service-detail.html"><img src="~/assets/images/resource/service-4.jpg" alt="" /></a>
					</div>
					<div class="service-block_two-content">
						<div class="service-block_two-number">4</div>
						<h4 class="service-block_two-title"><a href="service-detail.html">Tile Installation</a></h4>
						<a class="service-block_two-arrow" href="service-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Services Two -->
<!-- Services Three -->
<section class="services-three">
	<div class="services-three_tiles-icon" style="background-image:url(/assets/images/icons/tiles.png)"></div>
	<div class="services-three_pattern" style="background-image:url(/assets/images/background/pattern-4.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Column -->
			<div class="services-three_content-column col-lg-7 col-md-12 col-sm-12">
				<div class="services-three_content-outer">
					<div class="sec-title">
						<div class="sec-title_title"><i class="flaticon-wood-1"></i> trusty Services</div>
						<h2 class="sec-title_heading">We offer Dependable Flooring And Painting Services</h2>
						<div class="sec-title_text">We are a small Kent based company with over 15 years experience and have built a great reputation from our previous customers. Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
					</div>

					<!-- Skills -->
					<div class="default-skills">
						<div class="row clearfix">
							<!-- Skill Item -->
							<div class="default-skill-item col-lg-6 col-md-6 col-sm-12">
								<div class="default-skill-title">Painting Work</div>
								<div class="default-skill-bar">
									<div class="default-bar-inner">
										<div class="default-bar progress-line" data-width="90">
											<div class="default-skill-percentage"></div>
											<div class="default-count-box count-box"><span class="count-text" data-speed="2000" data-stop="90">0</span>%</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="default-skill-item col-lg-6 col-md-6 col-sm-12">
								<div class="default-skill-title">Flooring Work</div>
								<div class="default-skill-bar">
									<div class="default-bar-inner">
										<div class="default-bar progress-line" data-width="95">
											<div class="default-skill-percentage"></div>
											<div class="default-count-box count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<!-- Services Three Feature -->
						<div class="services-three_feature col-lg-6 col-md-6 col-sm-12">
							<div class="services-three_feature-inner">
								<div class="services-three_feature-icon flaticon-paving"></div>
								Interior & <br> Exterior Painting
							</div>
						</div>
						<!-- Services Three Feature -->
						<div class="services-three_feature col-lg-6 col-md-6 col-sm-12">
							<div class="services-three_feature-inner">
								<div class="services-three_feature-icon flaticon-tile"></div>
								Modern & luxurious <br> Flooring interior
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- CTA One Image -->
			<div class="services-three_images-column col-lg-5 col-md-12 col-sm-12">
				<div class="services-three_images-outer">
					<div class="services-three_image">
						<img src="~/assets/images/resource/service-5.png" alt="" />
					</div>
					<div class="services-three_tiles">
						<div class="services-three_tile">
							<img src="~/assets/images/resource/service-6.jpg" alt="" />
						</div>
						<div class="services-three_tile">
							<img src="~/assets/images/resource/service-7.jpg" alt="" />
						</div>
						<div class="services-three_tile">
							<img src="~/assets/images/resource/service-8.jpg" alt="" />
						</div>
						<div class="services-three_tile">
							<img src="~/assets/images/resource/service-9.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Cta One -->
<!-- Projects One -->
<section class="projects-one">
	<div class="projects-one_bg" style="background-image:url(/assets/images/background/3.jpg)"></div>
	<div class="auto-container">
		<div class="sec-title light centered">
			<div class="sec-title_title"><i class="flaticon-wood-1"></i> Services</div>
			<h2 class="sec-title_heading">Best Interior Services <br> That We Provide</h2>
		</div>
		<div class="row clearfix">

			<!-- Projects Block One -->
			<div class="projects-block_one col-lg-3 col-md-6 col-sm-6">
				<div class="projects-block_one-inner">
					<div class="projects-block_one-image">
						<a href="project-detail.html"><img src="~/assets/images/gallery/1.jpg" alt="" /></a>
					</div>
					<a class="projects-block_one-arrow" href="project-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					<div class="projects-block_one-content" style="background-image:url(/assets/images/background/pattern-5.png)">
						<div class="projects-block_one-title">Wallpapers</div>
						<h4 class="projects-block_one-heading"><a href="project-detail.html">Room Wallpapers</a></h4>
					</div>
				</div>
			</div>

			<!-- Projects Block One -->
			<div class="projects-block_one col-lg-3 col-md-6 col-sm-6">
				<div class="projects-block_one-inner">
					<div class="projects-block_one-image">
						<a href="project-detail.html"><img src="~/assets/images/gallery/2.jpg" alt="" /></a>
					</div>
					<a class="projects-block_one-arrow" href="project-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					<div class="projects-block_one-content" style="background-image:url(/assets/images/background/pattern-5.png)">
						<div class="projects-block_one-title">Flooring</div>
						<h4 class="projects-block_one-heading"><a href="project-detail.html">Tile From Paint</a></h4>
					</div>
				</div>
			</div>

			<!-- Projects Block One -->
			<div class="projects-block_one col-lg-3 col-md-6 col-sm-6">
				<div class="projects-block_one-inner">
					<div class="projects-block_one-image">
						<a href="project-detail.html"><img src="~/assets/images/gallery/3.jpg" alt="" /></a>
					</div>
					<a class="projects-block_one-arrow" href="project-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					<div class="projects-block_one-content" style="background-image:url(/assets/images/background/pattern-5.png)">
						<div class="projects-block_one-title">Painting</div>
						<h4 class="projects-block_one-heading"><a href="project-detail.html">Wall Painting</a></h4>
					</div>
				</div>
			</div>

			<!-- Projects Block One -->
			<div class="projects-block_one col-lg-3 col-md-6 col-sm-6">
				<div class="projects-block_one-inner">
					<div class="projects-block_one-image">
						<a href="project-detail.html"><img src="~/assets/images/gallery/4.jpg" alt="" /></a>
					</div>
					<a class="projects-block_one-arrow" href="project-detail.html"><i class="flaticon-up-right-arrow-1"></i></a>
					<div class="projects-block_one-content" style="background-image:url(/assets/images/background/pattern-5.png)">
						<div class="projects-block_one-title">Field Tile</div>
						<h4 class="projects-block_one-heading"><a href="project-detail.html">Kendal Slate</a></h4>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Projects One -->
<!-- Testimonial One -->
<section class="testimonial-one">
	<div class="testimonial-one_bg" style="background-image:url(/assets/images/background/pattern-6.png)"></div>
	<div class="testimonial-one_icon" style="background-image:url(/assets/images/icons/tiles.png)"></div>
	<div class="testimonial-one_icon-two" style="background-image:url(/assets/images/icons/design.png)"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<div class="sec-title_title"><i class="flaticon-wood-1"></i> Testimonial</div>
			<h2 class="sec-title_heading">What Does The Customer <br> Have To Say?</h2>
		</div>
		<div class="two-item-carousel swiper-container">
			<div class="swiper-wrapper">

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="testimonial-block_one-color" style="background-image:url(/assets/images/background/pattern-7.png)"></div>
							<div class="testimonial-block_one-upper">
								<div class="testimonial-block_one-author_outer" style="background-image:url(/assets/images/background/pattern-8.png)">
									<div class="testimonial-block_one-author">
										<img src="~/assets/images/resource/author-1.png" alt="" />
									</div>
								</div>
								<div class="testimonial-block_one-author_content">
									<h4>Anan Hanona</h4>
									<div class="designation">Interior Expert And Customer</div>
								</div>
								<div class="testimonial-block_one-quote flaticon-left"></div>
							</div>
							<div class="testimonial-block_one-lower">
								<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet, consec adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris. Integer ac orci vitae neque porttitor efficitur best flooring services</div>
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="testimonial-block_one-color" style="background-image:url(/assets/images/background/pattern-7.png)"></div>
							<div class="testimonial-block_one-upper">
								<div class="testimonial-block_one-author_outer" style="background-image:url(/assets/images/background/pattern-8.png)">
									<div class="testimonial-block_one-author">
										<img src="~/assets/images/resource/author-2.png" alt="" />
									</div>
								</div>
								<div class="testimonial-block_one-author_content">
									<h4>Mahfuz Riad</h4>
									<div class="designation">Interior Expert And Customer</div>
								</div>
								<div class="testimonial-block_one-quote flaticon-left"></div>
							</div>
							<div class="testimonial-block_one-lower">
								<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet, consec adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris. Integer ac orci vitae neque porttitor efficitur best flooring services</div>
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="testimonial-block_one-color" style="background-image:url(/assets/images/background/pattern-7.png)"></div>
							<div class="testimonial-block_one-upper">
								<div class="testimonial-block_one-author_outer" style="background-image:url(/assets/images/background/pattern-8.png)">
									<div class="testimonial-block_one-author">
										<img src="~/assets/images/resource/author-1.png" alt="" />
									</div>
								</div>
								<div class="testimonial-block_one-author_content">
									<h4>Anan Hanona</h4>
									<div class="designation">Interior Expert And Customer</div>
								</div>
								<div class="testimonial-block_one-quote flaticon-left"></div>
							</div>
							<div class="testimonial-block_one-lower">
								<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet, consec adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris. Integer ac orci vitae neque porttitor efficitur best flooring services</div>
								<div class="testimonial-block_one-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- If we need pagination -->
			<div class="two-item-carousel_pagination"></div>

		</div>

	</div>
</section>
<!-- End Testimonial One -->
<!-- Contact One -->
<section class="contact-one" style="background-image:url(/assets/images/background/map.png)">
	<div class="contact-one_curve"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="contact-one_image">
				<img src="~/assets/images/resource/contact.jpg" alt="" />
				<div class="contact-one_ball" style="background-image:url(/assets/images/icons/ball.png)"></div>
			</div>
			<div class="contact-one_image-two">
				<img src="~/assets/images/resource/contact-1.jpg" alt="" />
			</div>
			<div class="row clearfix">

				<!-- Info Column -->
				<div class="contact-one_info-column col-lg-5 col-md-12 col-sm-12">
					<div class="contact-one_info-outer">
						<h2 class="contact-one_title">Feel Free To Contact Our Team</h2>
						<ul class="contact-one_list">
							<li>
								<span class="flaticon-telephone"></span>
								<strong>Call Anytime</strong>
								+ 88 (00) - 4612451
							</li>
							<li>
								<span class="flaticon-pin"></span>
								<strong>Address</strong>
								Fulham Way, IP1 4FB CA 1412
							</li>
						</ul>
						<div class="contact-one_phone">
							<div class="contact-one_phone-inner">
								<div class="side-icon flaticon-wood-1"></div>
								<div class="icon flaticon-comment"></div>
								Call Anytime <br>
								<a href="mailto:support24@gmail.com">Support24@gmail.com</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="contact-one_form-column col-lg-7 col-md-12 col-sm-12">
					<div class="contact-one_form-outer">
						<div class="title-box">
							<h3>A Brief Overview Of The Space You Would Like To Decorate. </h3>
							<div class="text">There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in some</div>
						</div>

						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
								<div class="row clearfix">

									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="username" placeholder="Full Name*" required="">
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="email" placeholder="Email*" required="">
									</div>

									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea class="" name="message" placeholder="Your Request"></textarea>
									</div>

									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<!-- Button Box -->
										<button type="submit" class="theme-btn submit-btn">
											Send Request
										</button>
									</div>

								</div>
							</form>
						</div>
						<!-- End Default Form -->

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Contact One -->
<!-- Team One -->
<section class="team-one">
	<div class="team-one_lamp" style="background-image:url(/assets/images/icons/lamp-1.png)"></div>
	<div class="team-one_bg" style="background-image:url(/assets/images/background/4.jpg)"></div>
	<div class="auto-container">
		<div class="sec-title light">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="left-box">
					<div class="sec-title_title"><i class="flaticon-wood-1"></i> Our Team List</div>
					<h2 class="sec-title_heading">Explore Our <br> Team Member’s</h2>
				</div>
				<div class="right-box">
					<div class="sec-title_text">Lorem ipsum dolor sit amet consectetur adipiscing sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					<div class="team-one_btn-box">
						<a class="team-one_btn" href="#">View all Team List</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">

			<!-- Team Block One -->
			<div class="team-block_one col-lg-6 col-md-12 col-sm-12">
				<div class="team-block_one-inner">
					<div class="team-block_one-pattern" style="background-image:url(/assets/images/background/pattern-9.png)"></div>
					<div class="team-block_one-content">
						<a href="project-detail.html" class="team-block_one-share flaticon-share"></a>
						<div class="team-block_one-image">
							<a href="project-detail.html"><img src="~/assets/images/resource/team-1.jpg" alt="" /></a>
						</div>
						<h4 class="team-block_one-heading"><a href="project-detail.html">Lora Ulliser</a></h4>
						<div class="team-block_one-designation">Head of Designer</div>
						<div class="team-block_one-text">Lorem ipsum dolor sit amet lorem consectetur adipiscing elit sed on the eiusmod tempor user profile details</div>
					</div>
				</div>
			</div>

			<!-- Team Block One -->
			<div class="team-block_one col-lg-6 col-md-12 col-sm-12">
				<div class="team-block_one-inner">
					<div class="team-block_one-pattern" style="background-image:url(/assets/images/background/pattern-9.png)"></div>
					<div class="team-block_one-content">
						<a href="project-detail.html" class="team-block_one-share flaticon-share"></a>
						<div class="team-block_one-image">
							<a href="project-detail.html"><img src="~/assets/images/resource/team-2.jpg" alt="" /></a>
						</div>
						<h4 class="team-block_one-heading"><a href="project-detail.html">Robert David</a></h4>
						<div class="team-block_one-designation">Head of Designer</div>
						<div class="team-block_one-text">Lorem ipsum dolor sit amet lorem consectetur adipiscing elit sed on the eiusmod tempor user profile details</div>
					</div>
				</div>
			</div>

			<!-- Team Block One -->
			<div class="team-block_one col-lg-6 col-md-12 col-sm-12">
				<div class="team-block_one-inner">
					<div class="team-block_one-pattern" style="background-image:url(/assets/images/background/pattern-9.png)"></div>
					<div class="team-block_one-content">
						<a href="project-detail.html" class="team-block_one-share flaticon-share"></a>
						<div class="team-block_one-image">
							<a href="project-detail.html"><img src="~/assets/images/resource/team-3.jpg" alt="" /></a>
						</div>
						<h4 class="team-block_one-heading"><a href="project-detail.html">Joseph Paul</a></h4>
						<div class="team-block_one-designation">Head of Designer</div>
						<div class="team-block_one-text">Lorem ipsum dolor sit amet lorem consectetur adipiscing elit sed on the eiusmod tempor user profile details</div>
					</div>
				</div>
			</div>

			<!-- Team Block One -->
			<div class="team-block_one col-lg-6 col-md-12 col-sm-12">
				<div class="team-block_one-inner">
					<div class="team-block_one-pattern" style="background-image:url(/assets/images/background/pattern-9.png)"></div>
					<div class="team-block_one-content">
						<a href="project-detail.html" class="team-block_one-share flaticon-share"></a>
						<div class="team-block_one-image">
							<a href="project-detail.html"><img src="~/assets/images/resource/team-4.jpg" alt="" /></a>
						</div>
						<h4 class="team-block_one-heading"><a href="project-detail.html">Lora Ulliser</a></h4>
						<div class="team-block_one-designation">Head of Designer</div>
						<div class="team-block_one-text">Lorem ipsum dolor sit amet lorem consectetur adipiscing elit sed on the eiusmod tempor user profile details</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Team One -->
<!-- Blog One -->
<section class="blog-one">
	<div class="blog-one_bg" style="background-image:url(/assets/images/background/5.jpg)"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<div class="sec-title_title"><i class="flaticon-wood-1"></i> Our Blog</div>
			<h2 class="sec-title_heading">Our Latest News <br> & Articles Post</h2>
		</div>
		<div class="row clearfix">

			<!-- News Block One -->
			<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="news-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="news-block_one-image">
						<img src="~/assets/images/resource/news-1.jpg" alt="" />
						<div class="news-block_one-content">
							<div class="news-block_one-title">Flooring</div>
							<h5 class="news-block_one-heading"><a href="blog-detail.html">How to Install Engineered Wood Flooring</a></h5>
							<ul class="news-block_one-meta">
								<li><span class="icon fa fa-user"></span>By Admin</li>
								<li><span class="icon fa fa-comment"></span>10 Comment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block One -->
			<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="news-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="news-block_one-image">
						<img src="~/assets/images/resource/news-2.jpg" alt="" />
						<div class="news-block_one-content">
							<div class="news-block_one-title">Flooring</div>
							<h5 class="news-block_one-heading"><a href="blog-detail.html">What Are The Different Finishes Of Wood Flooring?</a></h5>
							<ul class="news-block_one-meta">
								<li><span class="icon fa fa-user"></span>By Admin</li>
								<li><span class="icon fa fa-comment"></span>10 Comment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- News Block One -->
			<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="news-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="news-block_one-image">
						<img src="~/assets/images/resource/news-3.jpg" alt="" />
						<div class="news-block_one-content">
							<div class="news-block_one-title">Flooring</div>
							<h5 class="news-block_one-heading"><a href="blog-detail.html">Advantages of Engineered Wood Flooring</a></h5>
							<ul class="news-block_one-meta">
								<li><span class="icon fa fa-user"></span>By Admin</li>
								<li><span class="icon fa fa-comment"></span>10 Comment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Blog One -->