@using AppShare.Models.Views

<!-- End Page Title -->
@await Html.PartialAsync("Partials/_PageTitlePartial", new PageTitleViewModel
	{
		Title = "Liên hệ",
		Background = "assets/images/background/24.jpg",
		Breadcrumbs = new Dictionary<string, string> { 
			{ Url.Action("Index", "HomePage")!, "Trang chủ" }, 
			{ "#", "Liên hệ" } 
		}
	}
)

<!-- Map One -->
<section class="map-one">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Info Column -->
			<div class="info-column col-lg-5 col-md-12 col-sm-12">
				<div class="info-column_inner">
					<h3 class="map-one_title">Please Don't Hesitate To Contact Us With Any Inquiries</h3>
					<div class="map-one_text">You can also reach out to us by phone or email</div>
					<ul class="map-one_info">
						<li>
							<span class="icon flaticon-map"></span>
							<strong>Address</strong>
							Drive Suite Hobert,4 Hepscott Road <br> London, E9 5HB
						</li>
						<li>
							<span class="icon flaticon-telephone-1"></span>
							<strong>Contact</strong>
							<a href="tel:+88-0-203-808-1024">+88 (0) 203 808 1024</a> <br>
							<a href="mailto:hello@sitename.com">hello@sitename.com</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Team Block One -->
			<div class="map-column col-lg-7 col-md-12 col-sm-12">
				<div class="map-column_inner">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6331292129!2d144.49266890254142!3d-37.97123689954809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1574408946759!5m2!1sen!2s" allowfullscreen=""></iframe>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Map One -->
<!-- Contact Two -->
<section class="contact-two" style="background-image:url(/assets/images/background/26.jpg)">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Form Column -->
			<div class="contact-two_form-column col-lg-7 col-md-12 col-sm-12">
				<div class="contact-two-form_outer">
					<!-- Contact Form -->
					<div class="contact-form">
						<form method="post" action="sendemail.php" id="contact-form">
							<div class="row clearfix">

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<label>First Name</label>
									<input type="text" name="username" placeholder="Full Name" required="">
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<label>Last Name</label>
									<input type="text" name="lastname" placeholder="Last Name" required="">
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label>Phone</label>
									<input type="text" name="phone" placeholder="Your Phone" required="">
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<label>Email</label>
									<input type="text" name="email" placeholder="Your Email" required="">
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<label>Message</label>
									<textarea class="" name="message" placeholder="Your Request"></textarea>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<!-- Button Box -->
									<button type="submit" class="theme-btn btn-style-one">
										<span class="btn-wrap">
											<span class="text-one">Snnd Message</span>
											<span class="text-two">Snnd Message</span>
										</span>
									</button>
								</div>

							</div>
						</form>
					</div>
					<!-- End Contact Form -->
				</div>
			</div>

			<!-- Team Block One -->
			<div class="contact-two_title-column col-lg-5 col-md-12 col-sm-12">
				<div class="contact-two_title-outer">
					<h3 class="contact-two_title">To Speak To Our Friendly Team, Please Contact</h3>
					<div class="contact-two_text">Drop us a line and we will ensure the appropriate team responds to your enquiry.</div>
					<div class="contact-two_support">
						<img src="assets/images/resource/support.png" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Contact Two -->
<!-- Contact One -->
<section class="contact-one" style="background-image:url(/assets/images/background/map.png)">
	<div class="contact-one_curve"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="contact-one_image">
				<img src="assets/images/resource/contact.jpg" alt="" />
				<div class="contact-one_ball" style="background-image:url(/assets/images/icons/ball.png)"></div>
			</div>
			<div class="contact-one_image-two">
				<img src="assets/images/resource/contact-1.jpg" alt="" />
			</div>
			<div class="row clearfix">

				<!-- Info Column -->
				<div class="contact-one_info-column col-lg-5 col-md-12 col-sm-12">
					<div class="contact-one_info-outer">
						<h2 class="contact-one_title">Feel Free To Contact Our Team</h2>
						<ul class="contact-one_list">
							<li>
								<span class="flaticon-telephone"></span>
								<strong>Call Anytime</strong>
								+ 88 (00) - 4612451
							</li>
							<li>
								<span class="flaticon-pin"></span>
								<strong>Address</strong>
								Fulham Way, IP1 4FB CA 1412
							</li>
						</ul>
						<div class="contact-one_phone">
							<div class="contact-one_phone-inner">
								<div class="side-icon flaticon-wood-1"></div>
								<div class="icon flaticon-comment"></div>
								Call Anytime <br>
								<a href="mailto:support24@gmail.com">Support24@gmail.com</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="contact-one_form-column col-lg-7 col-md-12 col-sm-12">
					<div class="contact-one_form-outer">
						<div class="title-box">
							<h3>A Brief Overview Of The Space You Would Like To Decorate. </h3>
							<div class="text">There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in some</div>
						</div>

						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
								<div class="row clearfix">

									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="username" placeholder="Full Name*" required="">
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
										<input type="text" name="email" placeholder="Email*" required="">
									</div>

									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea class="" name="message" placeholder="Your Request"></textarea>
									</div>

									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<!-- Button Box -->
										<button type="submit" class="theme-btn submit-btn">
											Send Request
										</button>
									</div>

								</div>
							</form>
						</div>
						<!-- End Default Form -->

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Contact One -->

@section Scripts {
}