<footer class="main-footer">
	<div class="main-footer_bg" style="background-image: url(/assets/images/background/6.jpg)"></div>
	<div class="auto-container">
		<div class="inner-container">
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">

					<!-- Big Column -->
					<div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">

							<!-- Footer Column -->
							<div class="footer_column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget footer-two_logo-widget">
									<div class="footer-logo"><a href="index.html"><img src="~/assets/images/footer-logo.png" alt="" title=""></a></div>
									<div class="footer-text">Over 15 years of experience we’ll ensure you get the best guidance interior design</div>
									<ul class="footer-list">
										<li><a href="#">Room Visualizer</a></li>
										<li><a href="#">Flooring Samples</a></li>
									</ul>
								</div>
							</div>

							<!-- Footer Column -->
							<div class="footer_column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget post-widget">
									<h5 class="footer-title">recent post</h5>
									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="news-widget_image">
											<img src="~/assets/images/resource/post-thumb-4.png" alt="" />
										</div>
										<div class="news-widget_post-date">02 May 2024</div>
										<h6 class="news-widget_title"><a href="blog-detail.html">Is Underlay Needed for Wooden Flooring?</a></h6>
									</div>

									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="news-widget_image">
											<img src="~/assets/images/resource/post-thumb-5.png" alt="" />
										</div>
										<div class="news-widget_post-date">02 May 2024</div>
										<h6 class="news-widget_title"><a href="blog-detail.html">Solid Wall Painting Vs Laminate Flooring</a></h6>
									</div>

								</div>
							</div>

						</div>
					</div>

					<!-- Big Column -->
					<div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">

							<!-- Footer Column -->
							<div class="footer_column col-lg-5 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h5 class="footer-title">links</h5>
									<ul class="footer-list">
										<li><a href="#">tile</a></li>
										<li><a href="#">Free Estimate</a></li>
										<li><a href="#">Financing</a></li>
										<li><a href="#">Flooring</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Pricing & Plans</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
							</div>

							<!-- Footer Column -->
							<div class="footer_column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget newsletter-widget">
									<h5 class="footer-title">newsletter</h5>
									<div class="newsletter-text">Subscribe to our weekly newsletter today!</div>
									<div class="newsletter-box">
										<form method="post" action="contact.html">
											<div class="form-group">
												<input type="email" name="search-field" value="" placeholder="Email Address" required>
												<button type="submit" class="theme-btn">Subscribe</button>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="main-footer_copyright">&copy;2024 themazine All Rights Reserved <a href="https://themeforest.net/user/themazine/portfolio"></a></div>
				<!-- Header Socials -->
				<div class="footer_socials">
					<span>Social</span>
					<a class="fa-brands fa-facebook-f fa-fw" href="#"></a>
					<a class="fa-brands fa-instagram fa-fw" href="#"></a>
					<a class="fa-brands fa-twitter fa-fw" href="#"></a>
					<a class="fa-brands fa-youtube fa-fw" href="#"></a>
				</div>
			</div>
		</div>
	</div>
</footer>