<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudPaper Class="overflow-hidden relative mud-height-full" Elevation="3">
        <MudDrawerContainer Class="overflow-y-auto" Style="height: calc(100vh - 120px);">
            <_DocsNav />
            <div class="pa-4">
                @ChildContent
            </div>
        </MudDrawerContainer>
    </MudPaper>
</MudContainer>