::deep.title {
    .title-content {
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 1em;
        display: flex;
        align-items: center;

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            background-color: var(--mud-palette-primary);
        }

        &::before {
            bottom: 0;
            height: 5px;
            width: 55px;
        }

        &::after {
            bottom: 2px;
            height: 1px;
            width: 100%;
            max-width: 75px;
        }

        .title-icon {
            font-size: inherit
        }
    }
}
